<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab10c</title>
</head>
<body style="max-width: 80ch; margin: auto;">

  <h2>Learning and Implementing Angular</h2>
  <hr>
  <section>
  <h3>Installing and Building Angular</h3>
  <p>The process overall of installing Angular was fairly intuitive; making use of tutorials from <a href="https://www.geeksforgeeks.org/getting-started-with-angular/">Geeks for Geeks</a> and <a href="https://v17.angular.io/guide/setup-local">Angular.IO</a> provided a comprehensive process on how to get the framework up and running, despite a lack of experience using components and Angular as a whole. That being said, the overall installation was not the smoothest, which will be covered in greater detail in the following section.</p>
  <p>The steps that were taken to create an Angular app were very simple, comprising of the following commands:</p>
  <div>
    <pre>   ng new my-app   -   (Creates the app)</pre> 
    <pre>   ng serve   -   (Runs the app)</pre>
  </div>
  </section>
  <br>
  <section>
  <h3>Difficulties</h3>
  <p>Whilst the installation process was straight forward due to the resources I used, there was still difficulties I faced trying to get it isntalled. When trying to install Angular through the command line, I was faced with an error, due to not having an NPM packet manager (like nvm). The path only got deeper from there, as trying to install nvm through the command line returned another error, as I did not have bash installed either. Thus, this installation process resulted in a repetitive loop of installing the prerequisite software needed to install more prerequisite software to install Angular, all whilst having the restart my computer each time to register the change.</p>
  <p>Additionally, I wanted to implement a small component to demonstrate an understanding of Angular. Originally aiming to use a clicker component, I ultimately was unable to get it working, having the component logic and stylizing setup but unable to have it present on this HTML page. Ultimately, I opted to exclude the faulty counter due to time constrictions and upcoming exams, and aim to play around with Angular in the future to get it working in the future.</p>
  <p>After completing this webpage and attempting to host it, I ran into yet another issue; having a 404: Page not Found error trying to host the app on GitHub pages. Ultimately (and evidently), the issue was resolved due to trial and error and online forums, where I had to move the index.html file into the docs folder.</p>
  </section>
</body>
</html>
